
.gridClass{

    display: grid;
     background-color: rgb(224, 131, 9);
    border:solid 1px rgb(224, 131, 9);
    border-radius:55px;
    padding:4%;
    width:30%;
    height:100%;
    box-shadow: 11px 12px 30px rgb(0, 0, 0);
}


.item{
    grid-column: 1/12;
    display:grid;
}

.picitem{

    grid-column:1/4;
}

.textitem{
    grid-column:5/12
}

.line {
    margin-top: 6%;
            border-bottom: 2px solid rgb(255, 255, 255); /* Adding a simple line underneath each column */
        }
body{
background-color: rgb(186, 211, 211);
    margin: 10%;

}


/* .FlexB{
    display: flex;
    flex-direction: column;}

.FlexB > div{


}

.textDecoration{

align-items: center;
} */



